.wip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    font-size: xxx-large;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: x-large;
    letter-spacing: 1px;
}

thead {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

th {
    text-align: left;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}